<div class="row  justify-content-center mt-3">

	<div class="col-12 text-center">
		<h1>Bill Disputes</h1>
	</div>

	<ul class="list-group">
		<!-- list of users with disputed bills -->
	</ul>

</div>
