<div class="row h-100 justify-content-center align-items-center">
	<div class="card">
		<div class="card-body">

			<p class="h4 text-center mb-4">Create Admin Account</p>

			<!-- First Name -->
			<div class="md-form">
				<i class="fa fa-user prefix grey-text"></i>
				<input type="text" id="first_name" class="form-control">
				<label for="first_name">First Name</label>
			</div>

			<!-- Last Name -->
			<div class="md-form">
				<i class="fa fa-user prefix grey-text"></i>
				<input type="text" id="last_name" class="form-control">
				<label for="last_name">Last Name</label>
			</div>

			<!-- Email -->
			<div class="md-form">
				<i class="fa fa-envelope prefix grey-text"></i>
				<input type="email" id="email" class="form-control">
				<label for="email">Email</label>
			</div>

			<!-- Password -->
			<div class="md-form">
				<i class="fa fa-lock prefix grey-text"></i>
				<input type="password" id="password" class="form-control">
				<label for="password">Password</label>
			</div>

			<!-- Register Button -->
			<div class="text-center mt-4">
				<button id="btn_submit" class="btn btn-danger">Create</button>
			</div>

		</div>
	</div>
</div>