<div class="container">

	<div class="row">

		<!-- Find User -->
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="../images/user.jpg" class="img-fluid">
					<a href="userSearch">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-user pink-text homepage-icon"></i><strong> Search</strong></h5>
							<h3 class="card-title pt-2">Find a user</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Find User -->

		<!-- Bill Disputes -->
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="../images/payment.jpg" class="img-fluid">
					<a href="billDisputes">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-dollar pink-text homepage-icon"></i><strong> Disputes</strong></h5>
							<h3 class="card-title pt-2">Handle bill disputes</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Bill Disputes -->

	</div>


	<div class="row">

		<!-- Feedback -->
		<div class="col">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="../images/feedback.jpg" class="img-fluid">
					<a href="feedback">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-envelope pink-text homepage-icon"></i><strong> Feedback</strong></h5>
							<h3 class="card-title pt-2">View and respond to feedback</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Feedback -->

		<!-- Create Account -->
		<div class="col">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="../images/user.jpg" class="img-fluid">
					<a href="createAccount">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-envelope pink-text homepage-icon"></i><strong> Create Admin Account</strong></h5>
							<h3 class="card-title pt-2">Create a new admin account</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Create Account -->

	</div>

</div>