<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-sm-12 col-md-8 col-lg-4">
			<div class="card">
				<div class="card-body">

					<p class="h4 text-center mb-4">Admin Sign In</p>

					<!-- Email -->
					<div class="md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input id="email" type="email" class="form-control">
						<label for="email">Email</label>
					</div>

					<!-- Password -->
					<div class="md-form">
						<i class="fa fa-lock prefix grey-text"></i>
						<input id="password" type="password" class="form-control">
						<label for="password">Password</label>
					</div>

					<!-- Sign In Button -->
					<div class="text-center mt-4">
						<button id="btn_signin" type="button" class="btn btn-danger btn-block">Sign in</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



