<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-lg-6">
			<form>

				<div class="text-center pb-4">
					<h2>Message</h2>
				</div>

				<!-- Email -->
				<div class="md-form">
					<i class="fa fa-envelope prefix grey-text"></i>
					<input type="email" id="form-email" class="form-control">
					<label for="form-email" disabled></label>
				</div>

				<!-- Subject -->
				<div class="md-form">
					<i class="fa fa-tag prefix grey-text"></i>
					<input type="text" id="form-subject" class="form-control">
					<label for="form-subject" disabled></label>
				</div>

				<!-- Message -->
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<textarea id="form-message" class="form-control md-textarea" rows="3"></textarea>
					<label for="form-message" disabled></label>
				</div>

			</form>
		</div>
	</div>
</div>