<form>
	<div class="col-10 mt-4">
		<div class="form-row align-items-center">


			<div class="col-6 col-md-7">
				<input id="email-search" type="text" class="form-control" placeholder="Email">
			</div>

			<div class="form-check mb-2 mr-sm-2">
				<input class="form-check-input" type="checkbox" id="checkbox-payments-due">
				<label class="form-check-label" for="inlineFormCheck">
					Payments Due
				</label>
			</div>

			<div class="col-auto">
				<button id="btn-search" class="btn btn-primary btn-md mt-0">Submit</button>
			</div>

		</div>

		<ul class="list-group">
			<!-- Search results go here -->
		</ul>

	</div>
</form>
