<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-12">

			<div class="card-group">

				<!-- user info -->
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<h5>First Name: </h5>
								<h5>Last Name: </h5>
								<h5>Email: </h5>
								<h5>Address: </h5>
								<h5>Suspended: </h5>
							</div>

							<div class="col-7">
								<h5 id="first-name"></h5>
								<h5 id="last-name"></h5>
								<h5 id="email"></h5>
								<h5 id="address"></h5>
								<h5 id="suspended"></h5>
							</div>
						</div>


					</div>
				</div>
				<!-- /.user info -->

				<!-- button group-->
				<div class="card">
					<div class="card-body">
						<div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
							<button id="btn-update-billing-info" class="btn btn-primary btn-block mb-2">Update Billing Info</button>
							<button id="btn-suspend-account" class="btn btn-block"></button>
						</div>
					</div>
				</div>
				<!-- /.button group -->

			</div>

			<!-- bills -->
			<div class="card">
				<div class="card-body">
					<h3 class="text-center pb-3">Payments</h3>
					<ul class="list-group">
						<!-- payments go here -->
					</ul>
				</div>
			</div>
			<!-- ./bills -->

		</div>
	</div>
</div>
