<div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="validateModalLabel">Verify Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<!-- Email -->
				<div class="md-form">
					<i class="fa fa-envelope prefix grey-text"></i>
					<input id="modal_email" type="email" class="form-control">
					<label for="modal_email">Email</label>
				</div>

				<!-- Password -->
				<div class="md-form">
					<i class="fa fa-lock prefix grey-text"></i>
					<input id="modal_password" type="password" class="form-control">
					<label for="modal_password">Password</label>
				</div>

				<!-- Sign In Button -->
				<div class="text-center mt-4">
					<button id="modal_btn_submit" type="button" class="btn btn-default btn-block">Submit</button>
				</div>

			</div>
		</div>
	</div>
</div>