<div class="container">

	<div class="row">
		<!-- Profile Page -->
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="images/payment.jpg" class="img-fluid">
					<a href="site/profile">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-user pink-text homepage-icon"></i><strong> Profile</strong></h5>
							<h3 class="card-title pt-2">View or edit your profile information</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Profile Page -->

		<!-- Payments Page -->
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="images/payment.jpg" class="img-fluid">
					<a href="site/payments">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-dollar pink-text homepage-icon"></i><strong> Payments</strong></h5>
							<h3 class="card-title pt-2">View or submit your payments</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Payments Page -->
	</div>

	<!-- Pickup Times -->
	<div class="row">
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="images/truck.jpg" class="img-fluid">
					<a href="site/pickup">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-clock-o pink-text homepage-icon"></i><strong> Pickups</strong></h5>
							<h3 class="card-title pt-2">Check your pickup times</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Pickup Times -->

		<!-- Feedback -->
		<div class="col-lg-6">
			<div class="card homepage-card">
				<!--Card image-->
				<div class="view hm-white-slight waves-light">
					<img src="images/feedback.jpg" class="img-fluid">
					<a href="site/feedback">
						<div class="mask"></div>
					</a>

					<!--Card content-->
					<div class="card-body">
						<div class="text-center strong py-5 px-4">
							<h5 class="card-title pink-text"><i class="fa fa-envelope pink-text homepage-icon"></i><strong> Feedback</strong></h5>
							<h3 class="card-title pt-2">Send us feedback</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Feedback -->
	</div>

</div>