<form class="login">
	<h1>Create a new user</h1>
	<input type="text" class="email" placeholder="Email:">
	<input type="password" class="password" placeholder="Password:">
	<input type="submit" value="Submit">
</form>
