<div class="row h-100 justify-content-center align-items-center">
<div class="card">
<div class="card-body">

	<p class="h4 text-center mb-4">Sign In</p>

	<!-- Email -->
	<div class="md-form">
		<i class="fa fa-envelope prefix grey-text"></i>
		<input id="email" type="email" class="form-control">
		<label for="email">Email</label>
	</div>

	<!-- Password -->
	<div class="md-form">
		<i class="fa fa-lock prefix grey-text"></i>
		<input id="password" type="password" class="form-control">
		<label for="password">Password</label>
	</div>

	<!-- Sign In Button -->
	<div class="text-center mt-4">
		<button id="btn_signin" class="btn btn-default btn-block">Sign in</button>
	</div>

	<!-- Sign Up Link -->
	<p class="font-small grey-text d-flex justify-content-center">Don't have an account?
		<a href="signup" class="dark-grey-text font-weight-bold ml-1"> Sign up</a>
	</p>

</div>
</div>
</div>



