body {
    height: 100vh;
    width: 100vw;
}

.list-group-item > .btn {
    float: right;
}

.payment-item > .badge-paid-status {
    float: right;
}

.payment-item > .btn-receipt {
    float: right;
}

.list-group-item > .list-email {
    float: left;
}